.fakeimg {
  height: 100px;
  background: #aaa;
}

.navbar-expand-md {
  background-color: blue;
  }

.Button-primary {color: #040c3d}

H2{
  color: #040c3d;
  font-family:fantasy;
  font-size: 26px;
  font-style: italic;
}
